.user {
  // 顶部
  .header {
    position: absolute;
    width: 100%;
    height: 4rem;
    top: 0;
    left: 0;
    z-index: 2;
    padding: 0.5rem 1rem;
    line-height: 3rem;
    @include theme {
      background: co(fore);
      box-shadow: 0 1px 0 co(deep);
    }

    .icon {
      font-size: 1.2rem;
    }

    @at-root {
      // 左侧
      .header-l {
        & > * {
          vertical-align: top !important;
        }
      }
      // 右侧
      .header-r {
        text-align: right;
        & > * {
          vertical-align: top !important;
          margin-left: 0.5rem;
          @include med('=mob') {
            margin-left: 1rem;
          }
        }
      }

      // 用户
      .header-user {
        display: inline-block;
        height: 3rem;
        & > * {
          display: inline-block;
          white-space: nowrap;
          vertical-align: top;
        }
        // 头像
        .header-avatar {
          display: inline-block;
          width: 3rem;
          height: 3rem;
          border-radius: 50%;
          overflow: hidden;
          margin-right: 0.3rem;
          padding: 5px;
          // @include theme {
          //   border: 1px solid co(weak);
          // }

          & > * {
            position: relative;
            width: 100%;
            height: 100%;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            border-radius: 50%;
            @include theme {
              background-color: co(weak);
            }
          }
        }
      }
    }
  }
}
